body{
    background-color: #e2ada6;
}
h2{
    color: rgb(16, 87, 9);
}
h1{
    text-align: center;
    color: rgb(49, 7, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 10px 10px 15px blue;
}
#play{
width: 600px;
}